{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2> Nouvelle visite </h2>
    <!-- Permet d'afficher et positionner le formulaire avec tous les champs en incluant fichier qui fait cela-->
    {{ include ('_admin.voyage.form.html.twig') }}
{% endblock %}